<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    </head>
    <body>
        <div>                
            <textarea row = "10" cols = "50" id = "ori_text" name = "ori_text"></textarea>
            <br>
            <!--
                언어감지 버튼 클릭(이벤트 -> JS) -> 입력값(추출->JS)들고 -> 서버로 전송 
                -> 서버 데이터 획득 -> 전처리
                ->모델 로드-> 데이터 입력하여 예측 수행 -> 결과 획득 -> 응답 
                -> 응답을 받은 후 화면 처리
            -->
            <button id = 'btn'>언어감지</button>
            <p>결과<span id="result"></span></p>
        </div>
        <script>
            // 0. 샘플 데이터  입력 -> 테스트용
            $('#ori_text').val(`ChatGPT, which stands for Chat Generative Pre-trained Transformer, 
            is a large language model-based chatbot developed by OpenAI and launched on November 30, 2022, 
            notable for enabling users to refine and steer a conversation towards a desired length, 
            format, style, level of detail, and language used. Successive prompts and replies, known as prompt engineering, 
            are considered at each conversation stage as a context.`)

            //1. 언어감지 버튼 클릭(이벤트 -> JS)
            $('#btn').on('click', ()=>{
                console.log('버튼 클릭')

                //2. 입력값(추출->JS) 들고 
                let ori_text = $('#ori_text').val()
                console.log(ori_text)

                //3. 서버로 전송(JS) 
                // client -> server로 데이터 전송
                /*
                    - form 전송 -> 화면 껌뻑 (X자 표시)
                    - ajax 전송 -> 화면은 그대로, 뒤에서 통신 (검색창 -> 검색 -> 추천단어 표기)
                                -> 파파고 통신 적용
                    - webs socket 전송 -> 챗봇, 실시간 차트 (서버 -> 클라이언트로 푸시 가능, 쌍방)
                    - 전송 방법 : method
                        - get : 소량의 데이터, 보안 취약, 
                        - post : 대량의 데이터, 보안 유리 (위 링크에서 안보임)
                */ 
                $.post({
                    // 어디로 보낼것인가?
                    url : '/predict', 
                    // 무엇을 보낼것인가?, 키=값&키=값 or json or xml, ...
                    data : 'ori=' + ori_text,
                    // 받는다면 어떤 형식을 받을것인가?
                    dataType : 'json',
                    // 성공했나?
                    success : ( res )=>{
                        //{'lang':'en', 'kor':'영어', 'code':1}
                        //console.log('성공', res.kor)
                        $('#result').html(`<font color = "red">${res.kor}</font>`)
                        $('#ori_text').val('')
                    },
                    // 실패했나?
                    error : ( err ) => {
                        console.log('실패', err)
                        // 9.에러처리
                        alert(err)
                    }
                })
            })
        </script>
    </body>
</html>